In [1]:
# Dependencies
import pandas as pd, requests, json
from sodapy import Socrata
from pandas_geojson import to_geojson

In [2]:
#!pip install pandas-geojson

In [3]:
# API call
client = Socrata("data.melbourne.vic.gov.au", None)
results = client.get("xt2y-tnn9", limit = 100000)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [4]:
# Create dataframe
results_df = pd.DataFrame.from_records(results)
results_df.to_csv('melbourne_business_data.csv')
results_df.head(2)

,census_year,block_id,property_id,base_property_id,street_address,clue_small_area,trading_name,industry_anzsic4_code,industry_anzsic4_description,seating_type,number_of_seats,x_coordinate,y_coordinate,geocoded_column
0,2002,2,111467,103973,0 King Street MELBOURNE 3000,Melbourne (CBD),469-479 King Street MELBOURNE 3000,8921,Zoological and Botanical Gardens Operation,Seats - Indoor,113,144.9595,-37.8206,"{'type': 'Point', 'coordinates': [144.9595, -3..."
1,2002,2,111467,103973,0 King Street MELBOURNE 3000,Melbourne (CBD),469-479 King Street MELBOURNE 3000,8921,Zoological and Botanical Gardens Operation,Seats - Outdoor,38,144.9595,-37.8206,"{'type': 'Point', 'coordinates': [144.9595, -3..."

In [5]:
len(results_df)

54052

In [6]:
# remove column
transformed_result_df = results_df[["census_year", "clue_small_area", "trading_name", "industry_anzsic4_description", 
                                    "seating_type", "number_of_seats","x_coordinate", "y_coordinate", "geocoded_column"]]

# drop na
transformed_result_df = transformed_result_df.dropna()
transformed_result_df.to_csv('cleaned_melbourne_business_data.csv')
len(transformed_result_df)

53990

In [7]:
# create geojson
geo_json = to_geojson(df=transformed_result_df, lat='y_coordinate', lon='x_coordinate',properties=["census_year", "clue_small_area", "trading_name", "industry_anzsic4_description", "seating_type", "number_of_seats"])
# print(geo_json)

In [8]:
# save geojson file
from geojson import dump
with open('data/melbourne_business_data.geojson', 'w') as output_file:
    dump(geo_json,output_file)